<%= form_for @user, :html => { :class => "form-horizontal user", multipart: true } do |f| %>

    <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :last_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:last_name]) %>
    <div class="control-group">
      <%= f.label :avatar, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :avatar, :class => 'form-control' %>
      </div>
      <%= error_span(@user[:avatar]) %>
    </div>
    <%= error_span(@user[:avatar_updated_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.email_field :email, :class => 'form-control' %>
    </div>
    <%= error_span(@user[:email]) %>
  </div>
    <div class="control-group">
      <%= f.label :password, 'Password', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'form-control' %>
      </div>
      <%= error_span(@user[:password]) %>
    </div>
    <div class="control-group">
      <%= f.label :password_confirmation, 'Confirm', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'form-control' %>
      </div>
      <%= error_span(@user[:password_confirmation]) %>
    </div>



  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            users_path, :class => 'btn btn-default' %>

<% end %>
