<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= model_class.human_attribute_name(:id) %></th>
    <th><%= model_class.human_attribute_name(:name) %></th>
    <th><%= model_class.human_attribute_name(:last_name) %></th>
    <th><%= model_class.human_attribute_name(:avatar) %></th>
    <th><%= model_class.human_attribute_name(:email) %></th>
    <% if can? :admin, User %>
        <th><%= model_class.human_attribute_name(:admin) %></th>
    <% end %>
    <th><%=t '.actions', :default => t("helpers.actions") %></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.id, user_path(user) %></td>
        <td><%= user.name %></td>
        <td><%= user.last_name %></td>
        <td><%= image_tag user.avatar.url(:thumb) %></td>
        <td><%= user.email %></td>
        <% if can? :admin, User %>
            <td><%= user.admin %></td>
        <% end %>
        <td>
          <% if can? :edit, user %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_user_path(user), :class => 'btn btn-default btn-xs' %>
          <% end %>
          <% if can? :destroy, user %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          user_path(user),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-xs btn-danger' %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<% if can? :create, User %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_user_path,
                :class => 'btn btn-primary' %>
<% end %>