<%- model_class = User -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @user.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:last_name) %>:</strong></dt>
  <dd><%= @user.last_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= image_tag @user.avatar.url(:thumb)%></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @user.email %></dd>

  <% if can? :admin, @user %>
      <dt><strong><%= model_class.human_attribute_name(:admin) %>:</strong></dt>
      <dd><%= @user.admin %></dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            users_path, :class => 'btn btn-default'  %>

<% if can? :edit, @user %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_user_path(@user), :class => 'btn btn-default' %>
<% end %>

<% if can? :destroy, @user %>
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                user_path(@user),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>


<% if can? :admin, @user %>
    <% if @user.admin? %>
        <%= link_to t('.DowngradeAdmin'), downgrade_path(@user),
                    method: 'downgrade',
                    class: 'btn btn-success' %>
    <% else %>
        <%= link_to t('.makeAdmin'), upgrade_path(@user),
                    method: 'admin',
                    class: 'btn btn-success' %>
    <% end %>
<% end %>