<%= form_for @picture, :html => { :class => "form-horizontal picture" } do |f| %>

    <% if @picture.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

    <%= image_tag @picture.image.url(:medium) %>
  <div class="control-group">
    <%= f.label :image, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :image, :class => 'form-control' %>
    </div>
    <%= error_span(@picture[:image_updated_at]) %>
  </div>
  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@picture[:title]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@picture[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :gallery_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :gallery_id, options_for_select(Gallery.all.map{ |o| ["#{o.title}", o.id]}), :class => 'form-control' %>
    </div>
    <%= error_span(@picture[:gallery_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            pictures_path, :class => 'btn btn-default' %>

<% end %>
