<%- model_class = Picture -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:image) %>:</strong></dt>
  <dd><%= image_tag @picture.image %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @picture.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:description) %>:</strong></dt>
  <dd><%= @picture.description %></dd>
  <dt><strong><%= model_class.human_attribute_name(:gallery_id) %>:</strong></dt>
  <dd><%= link_to @picture.gallery.title, gallery_path(@picture.gallery) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            gallery_path(@picture.gallery), :class => 'btn btn-default'  %>
<% if can? :edit, Picture %>
    <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_picture_path(@picture), :class => 'btn btn-default' %>
<% end %>
<% if can? :destroy, Picture %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            picture_path(@picture),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
<% end %>