<%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>

    <% if @post.errors.any? %>
        <div id="error_expl" class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
          </div>
          <div class="panel-body">
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'form-control' %>
      </div>
      <%= error_span(@post[:title]) %>
    </div>
    <div class="control-group">
      <%= f.label :body, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :body, :class => 'form-control' %>
      </div>
      <%= error_span(@post[:body]) %>
    </div>
    <div class="control-group">
      <%= f.label :picture, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :picture %>
      </div>
      <%= error_span(@post[:picture]) %>
    </div>
    <div class="control-group">
      <%= f.label :clip, :class => 'control-label' %>
      <div class="controls">
        <%= f.file_field :clip %>
      </div>
      <%= error_span(@post[:clip]) %>
    </div>
    <div class="control-group">
      <%= f.label :news_page, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :news_page %>
      </div>
      <%= error_span(@post[:clip]) %>
    </div>


    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                posts_path, :class => 'btn btn-default' %>

<% end %>
