<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => "News" %></h1>
</div>
<!--https://github.com/IronSummitMedia/startbootstrap-blog-post/blob/gh-pages/index.html-->
<div class="container">
  <% @posts.each do |post| %>
    <div class="row">
        <h2><%= post.title %></h2>
      <p class="lead">
        by <%= link_to "#{post.user.name} #{post.user.last_name}", user_path(post.user) %>
        <!--by <a href="#">Start Bootstrap</a>-->
      </p>
      <hr>
      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> <%= post.created_at.strftime("%d. %B, %Y") %></p>
      <hr>
      <% if post.picture.exists?%>
          <%= image_tag post.picture.url %>
          <hr>
      <% end  %>
      <% if post.clip.exists?%>
          <%= video_tag post.clip.url(:medium), controls: true, poster: post.clip.url(:poster), height: 180 %>
          <hr>
      <% end  %>

      <p><%= post.body %></p>
    </div>
  <% end %>
</div>