<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:Author) %>:</strong></dt>
  <dd><%= link_to "#{@post.user.name} #{@post.user.last_name}", user_path(@post.user) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:body) %>:</strong></dt>
  <dd><%= @post.body %></dd>
  <dt><strong><%= model_class.human_attribute_name(:picture) %>:</strong></dt>
  <dd><%= image_tag @post.picture.url(:thumb) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:clip) %>:</strong></dt>
  <% if @post.clip.exists? %>
  <dd> <%= video_tag @post.clip.url(:medium), controls: true, type: 'video/ogg', poster: @post.clip.url(:poster), width: 320 ,height:240, autobuffer: true%></dd>
  <% else %>
  <dd>Missing</dd>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:news_page) %>:</strong></dt>
  <% unless @post.news_page.nil? %>
      <dd> <%= @post.news_page %></dd>
  <% else %>
      <dd> nope </dd>
  <% end %>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            posts_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
            edit_post_path(@post), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
            post_path(@post),
            :method => 'delete',
            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
            :class => 'btn btn-danger' %>
