<%= form_for @gallery, :html => { :class => "form-horizontal gallery" , multipart: true} do |f| %>

    <% if @gallery.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @gallery.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, :class => 'form-control' %>
    </div>
    <%= error_span(@gallery[:title]) %>
  </div>
    <div class="control-group">
      <%= f.label :pictures,"Add new Pictures", :class => 'control-label' %>
      <div class="controls">
        <%= file_field_tag "images[]", type: :file, multiple: true %>
      </div>
    </div>
  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            galleries_path, :class => 'btn btn-default' %>

<% end %>
