<%- model_class = Gallery -%>
<div class="page-header">
  <h1><%=t '.title', :default =>  @gallery.title %></h1>
</div>
<div class="container">
  <%= form_tag controller: :galleries, action: :trash, method: :post do %>
      <% @gallery.pictures.each do |picture| %>
          <div class="row">
            <% if can? :manage, Picture %>
                <td><%= check_box_tag '', picture.id, false, class: 'delete_multiple_checkbox', name: "pictures[]" %>
            <% end %>
            <%= link_to(image_tag(picture.image.url(:medium), class: "gallery-picture"), picture_path(picture)) %>
            <% if can? :manage, Picture %>
                <%= link_to t('.edit', :default => t("helpers.links.edit")),
                            edit_picture_path(picture), :class => 'btn btn-default btn-xs' %>
                <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                            picture_path(picture),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
            <% end %>
          </div>
          <hr>
      <% end %>
      <% if can? :manage, Picture %>
        <%= submit_tag "Trash All Checked" %>
      <% end %>
  <% end %>
</div>

